Library
Logs
Temp
.idea
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
*.sln
/*.csproj
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta
Build
*.DotSettings.user
Assets/T4MOBJ
Assets/T4MOBJ.meta
/obj/
/.vs/
Assets/Plugins/Sirenix
Assets/Plugins/Sirenix.meta
ServerData
Assets/AddressableAssetsData/iOS/addressables_content_state.bin
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersionPrevious.txt
Assets/StreamingAssets/aa
Assets/WRP_FBXExporter
Assets/WRP_FBXExporter.meta
Assets/taecgLibrary
Assets/taecgLibrary.meta
ILRuntimeProj/obj
ILRuntimeProj/bin
ILRuntimeProj/.vs
UwaScan
Assets/AssetGraph/AssetBundles/Cache
Assets/AssetGraph/AssetBundles/Cache.meta
Assets/AssetGraph/Cache.meta
Assets/AssetGraph/Cache
